<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" role="navigation" opened>
    <div class="navButtons">
      <button [routerLink]="['/']" mat-stroked-button>Dashboard</button>
      <button [routerLink]="['rx-examples']" mat-stroked-button>Rx Examples</button>
      <button [routerLink]="['about']" color="primary" mat-stroked-button>About</button>
      <button [routerLink]="['contact']" color="accent" mat-stroked-button>Contact</button>
      <button [routerLink]="['idGenerator']" color="accent" mat-stroked-button>ID Generator</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="content">
      <h1>
        {{ title }}
      </h1>
      <button (click)="sidenav.toggle()" oppened mat-button>
        {{sidenavStatusChecker(sidenav.opened)}}
      </button>
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
